* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.point {
    position: absolute;
    top: 50%;
    left: 50%;
}

.point:hover .text {
    opacity: 1;
}

.point .text {
    position: absolute;
    top: 30px;
    left: -120px;
    width: 200px;
    padding: 20px;
    border-radius: 4px;
    background: #00000077;
    line-height: 1.3em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: #fff;
    border: 1px solid #ffffff77;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;

    pointer-events: none;
    /*disable event (here is about the hover)*/
}

.point .label {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #00000077;
    border: 1px solid #ffffff77;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 40px;
    font-weight: 100;
    font-size: 14px;

    cursor: pointer;

    transform: scale(0, 0);
    transition: transform 0.3s;
    will-change: transform;

}

.point.visible .label {
    transform: scale(1, 1);
}

.loading-bar {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.2s;
    will-change: transform;
}

.loading-bar.ended {
    transform-origin: top right;
    transition: transform 1.5s ease-in-out;
}